.card {
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
}

.card-header {
    /* background-color: aqua; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner-content {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.card-body {
    margin-top: -60px;
    background-color: bisque;
    height: 100vh;
}

.background {
    background-image: url('../assets/bg1.jpg');
    background-position: center;
    background-size: 420px 100%;
    background-repeat: no-repeat;
}