.card {
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
}

.card-header {
    /* background-color: aqua; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner-content {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.card-body {
    margin-top: -60px;
    background-color: rgb(0, 0, 0);
    height: 150vh;
}

.background {
    background-image: url('../assets/bg1.jpg');
    background-position: center;
    background-size: 420px 100%;
    background-repeat: no-repeat;
}

.background_sec02 {
    /* background-image: url('../assets/bg02.png'); */
    background-position: 0 400px;
    background-size: 420px;
    background-repeat: no-repeat;
    color: rgb(255, 251, 19);
    font-size: 24px;
    text-align: center;

}




.tentative-inner {
    text-align: center;
}

.item-tentative {
    padding-bottom: 5px;
    /* line-height: 0.5; */
}

.item-tentative h3 {
    color: bisque;
}